@import url('https://fonts.googleapis.com/css?family=Lato|Overpass+Mono:400, 700');
$mobile: 320px;
$tablet: 768px;
$desktop: 1920px;

$turq: #31BCB4;
$red: #FA3247;
$light-red: #FA5E73;
$blue: #19215E;
$gray: #FA5E73;
$yellow: #FFCC02;

.yellow {
  background-color: #FFCC02;

}
.turq {
  background-color: #31BCB4;

}
.red {
  background-color: #FA3247;

}
.light-red {
  background-color: #FA5E73;

}
.blue {
  background-color: #19215E;

}
.gray {
  background-color: #FA5E73;

}

$mono-font: 'Overpass Mono', monospace;
$sans-font: 'Lato', sans-serif;
h1 {
  font-family: $mono-font;
  text-transform: uppercase;
  padding-bottom: .2em;
}
h2 {
  font-family: $sans-font;
  margin-bottom: .2em;
}
body {
  font-family: $sans-font;
}
p {
  font-family: $sans-font;
  margin: .2em;
}
a {
  text-decoration: none;
}
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
  debug: (
    image: show,
    color: transparentize(blue, .7),
    output: overlay,
    toggle: top right,
  ),
);
