#callout {
  width: 100%;
  clear: both;
  p {
    margin: 0 auto;
    max-width: 620px;
    font-size: 1em;
    @include breakpoint($tablet) {
      font-size: 1.22em;
      text-align: justify;
    }
  }
}
