#guest-speaker {
  clear: both;
  #guest-title {
    text-align: center;
    margin: 0 auto;
    text-align: center;
    max-width: 30em;
    padding: .1em 0;
    margin-bottom: 2em;
    h1 {
      color: $yellow;
      font-size: 2.5em;
      margin-top: 0;
    }
    h2 {
      font-family: $mono-font, monospace;
      font-size: 1.2em;
    }
  }

  #guest-speaker-image {
      text-align: center;
      @include breakpoint($tablet) {
        text-align: right;
      }
      img {
        padding: 1em;
      
      }
    @include span(12 of 12);
    @include breakpoint($tablet) {
      @include span(6 of 12);
    }
  }
  #guest-speaker-info {
    text-align: center;
    @include span(12 of 12);
    @include breakpoint($tablet) {
      text-align: left;
      @include span(6 of 12 last);
      p {
        max-width: 20em;
      }
    }
  }
    
}
