.header-text {
  padding-top: 4em;
  h1{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.2em;
    @include breakpoint($tablet) {
      font-size: 1.2em;
    }
  }
  text-align: center;
  position: relative;
  right: 0;
  animation: slide-left .5s;
}

@keyframes slide-left {
  from {
    right: 10em;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
