.container {
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

.batitle{
    background-color:#31BCB4;
    height:130px;
    color:white;
    font-size:6em;
    font-family:'Overpass Mono', monospace;
    text-align: right;
    padding-right:20px;
    font-weight:bold;
}



.studentname{
    text-align:center;
    font-family:'Overpass Mono', monospace;
    font-size:75%;
    font-weight:bold;
    text-transform:uppercase;
    padding-left:8px;
    width:125%;
}




#firstrowheadshots{
    margin-top:50px;   
}


.leftalign{
    text-align:left;   
}

.centeralign{
    text-align:center;   
}

.spacer{
    height:30px;   
}

footer{
	background-color:#19215e;
	color:white;
	text-align:center;
	width:100%;
	clear:both;
	margin:0 auto;
	padding-top:20px;
	padding-bottom:20px;
}

.monofont{
    font-family:'Overpass Mono', monospace;
}

.monofontcaps{
    font-family:'Overpass Mono', monospace;
    text-transform:uppercase;
}

.monofontitalic{
    font-family:'Overpass Mono', monospace;
    font-style: italic;
}


.bfalink{
    color:#31bcb4;
}

.bfalink:hover{
    color:#fa3247;
}

a:hover {
	margin: 0;
	padding: 0;
}

.portrait-gallery {
	.portrait {
		@include gallery(6 of 12);
		@include breakpoint($tablet) {
			@include gallery(3 of 12);
		}
		a {
			width: 100%;
			display: block;
			&:hover {
				margin-bottom: -5.3px;
				.headshot {
					border: 8px solid $red;
					transform: scale(0.95);
				}
			}
		}
    h6 {
      margin-top: 10%;
    }
		font-family: $mono-font;
		text-align: center;
	}
}

.headshot {
		width: 100%;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.headshot:hover, .headshot:focus, .heashot:active {
}


.title {
	margin-bottom: 2em;
	margin-top: 2em;
	.batitle {
		@include span(4 of 12);
		font-size: 1.8em;
		height: 1.4em;
		@include breakpoint($tablet) {
			font-size: 4.3em;
		}
	}	
	.studentstitle {
		@include span(7 of 12 last);
    color:black;
    font-family:'Lato', sans-serif;
    font-weight: bold;
		padding-top: 5px;
		@include breakpoint($tablet) {
			font-size:3em;
		}
    letter-spacing:.15em;
    border-bottom: 2px solid black;
	}
}

.bfa-text {
	p {
		margin: 0 auto;
		max-width: 30em;
	}
}
