.container {
	background-color: white;
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column, .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

.batitle{
    
    background-color:#31BCB4;
    height:130px;
    color:white;
    font-size:6em;
    font-family:'Overpass Mono', monospace;
    text-align: right;
    padding-right:20px;
    font-weight:bold;
}



.studentname{
    text-align:center;
    font-family:'Overpass Mono', monospace;
    font-size:75%;
    font-weight:bold;
    text-transform:uppercase;
    padding-left:8px;
    width:125%;
}




#firstrowheadshots{
    margin-top:50px;   
}


.leftalign{
    text-align:left;   
}

.centeralign{
    text-align:center;   
}

.spacer{
    height:30px;   
}

footer{
    background-color:#19215e;
    color:white;
    text-align:center;
    width:100%;
    max-width:100%;
    clear:both;
    margin:0 auto;
    padding-top:20px;
    padding-bottom:20px;
}

.monofont{
    font-family:'Overpass Mono', monospace;
}

.monofontcaps{
    font-family:'Overpass Mono', monospace;
    text-transform:uppercase;
}

.monofontitalic{
    font-family:'Overpass Mono', monospace;
    font-style: italic;
}

.circlegreen{
    background-color:#31bcb4;
    width:8px;
    height:8px;
    border-radius:50%;
    margin:auto;
}

.circleyellow{
    background-color:#ffcc02;
    width:8px;
    height:8px;
    border-radius:50%;
    margin:auto;
}

.bfalink{
    color:#31bcb4;
}

.bfalink:hover{
    color:#fa3247;
}

a:hover {
	margin: 0;
	padding: 0;
}

.portrait-gallery {
	.portrait {
		@include gallery(6 of 12);
		@include breakpoint($tablet) {
			@include gallery(3 of 12);
		}
		a {
			width: 100%;
			display: block;
		

			&:hover {
				margin-bottom: -5.2px;
				.headshot {
					border: 8px solid $red;
					transform: scale(0.95);
				}
			}
		}
		font-family: $mono-font;
		text-align: center;
	}
}

.headshot {
		width: 100%;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.headshot:hover, .headshot:focus, .heashot:active {
}

.container {
	clear: both;
}

.title {
	clear: both;
	margin-bottom: 2em;
	.batitle {
		@include span(4 of 12);
		font-size: 1.8em;
		height: 1.4em;
		@include breakpoint($tablet) {
			font-size: 4.3em;
		}
	}	
	.studentstitle {
		@include span(7 of 12 last);
    color:black;
    font-family:'Lato', sans-serif;
    font-weight: bold;
		padding-top: 5px;
		@include breakpoint($tablet) {
			font-size:3em;
		}
    letter-spacing:.15em;
    border-bottom: 2px solid black;
	}
}
