header {
  @include container(12 center 100%);
  @include breakpoint($tablet) {
    @include container(12 center 90%);
  }
  width: 100%;
  max-width: 25em;
  @include breakpoint($tablet) {
    max-width: 80em;
  }
  margin: 0 auto;
}



//$header-block-height: 25em;
//$header-block-height-desk: 14em;
//.header-block {
//  width: 80%;
//  position: relative;
//  z-index: -20;
//  height: $header-block-height;
//  bottom: $header-block-height;
//  margin-bottom: -$header-block-height;
//  @include breakpoint($tablet) {
//    height: $header-block-height-desk;
//    bottom: $header-block-height-desk;
//    margin-bottom: -$header-block-height-desk;
//  }
//
//}
