$end-height: 16em;
$end-width: 80%;
.no-height {
  height: 0;
  overflow: visible;
}
.line {
  clear: both;
  animation: drawHorizontal 3s;
  width: $end-width;
  height: .1em;
  margin: 0 auto;
  background-color: black;

  @include breakpoint($tablet) {
    clear: none;
    height: $end-height;
    width: .1em;
    animation: draw 3s;
  }
}

@keyframes draw {
  from {
    height: 0em;
  }
  to {
    height: $end-height;
  }
}
@keyframes drawHorizontal {
  from {
    width: 0em;
  }
  to {
    width: $end-width;
  }
}



.center {
	width: 100%;
	margin-bottom: 2em;
}

.circleyellow{
	width: 1em;
  height: 1em;
	margin: 0 auto;
  margin-bottom: 1em;
  border-radius: 100%;
  background-color: $yellow;
}

.circleturq{
	width: 1em;
  height: 1em;
	margin: 0 auto;
  border-radius: 100%;
  margin-bottom: 1em;
  background-color: $turq;
}

