.real {
  clear: both;
  @include span(12 of 12);
  @include breakpoint($tablet) {
    @include span(6 of 12);
    padding-right: 2em;
  }
  h1 {
    text-align: center;
    margin: 0 auto;
    color: $red;
    font-size: 3em;
    text-transform: uppercase;
    line-height: 1.3;
    padding-bottom: .5em;
    @include breakpoint($tablet) {
      text-align: right;
      font-size: 3.6em;
    }
  }
  
}

#directions {
  font-size: 1.06em;
  padding-top: 1em;
  margin-bottom: 2em;
  text-align: center;
  @include span(12 of 12);
  @include breakpoint($tablet) {
    @include span(6 of 12 last);
    text-align: left;
    padding-left: 2em;
    padding-top: 0;
    h2 {
      margin-top: 0;
      font-family: $mono-font;
      color: $blue;
    }
  }
}
