{% extends "layout.html" %}

{% block content %}
<header>
<div class="header-text">
  <h1> Western Washington University</h1>
</div>
<div class="letter-header">
  <div id="d">
  </div>
  <div id="s">
  </div>
  <div id="g">
  </div>
  <div id="n">
  </div>
</div>


</div>
  <div>
    <div class="no-height">
      <div class="line blue">
        <p> 
        Friday, June 9 <br>
        Academic West <br>
        1:00-4PM <br>
        </p>
        <p>
        Guest Speaker <br>
        Nicole Laurue <br>
        AW 204 11:30-1PM
        </p>
      </div>
    </div>
  <div class="real">
    <h1> we keep <br>
      it <span>real </span>
    </h1>
    <div class="turq">
    </div>
  </div>
  </div>
</header>
<div class="container">


  </div>
  <div class="guest-speaker">
    <p> hey</p>
  </div>

</div>
{% endblock %}
