body {
  padding: 0;
  margin: 0;
}


.l-container {
  background-color: white;
  @include container(12 center 100%);
  @include breakpoint($tablet) {
    @include container(12 center 1200px);
  }
  padding-bottom: 2em;
}
