nav {
  svg {
    height: 64px;
    .cls-4 {
      fill: black;
      transition: fill .2s;
    }
  }
  text-align: center;
  padding-top: 2em;
  position: relative;
  margin-bottom: -64px;
  
  @include breakpoint($tablet) {
    right: 1em;
    top: 1em;
    z-index: 20;
    position: fixed;
  }
  p {
    text-align: center;
    font-family: $mono-font;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8em;
    background-color: $gray;
    color: black;
    position: relative;
    z-index: -100;
    top: -2em;
    opacity: 0;
    transition: opacity .2s, top .2s
  }
  &:hover {
    p {
      top: 0em;
      opacity: 1;
    }
  }
}



#white-text {
  svg {
    .cls-4 {
      fill: white;
    }
  }
}
